.word{color:white;}
#toppara{position:absolute;top:40px;left:40px;}
#para{position:absolute;top:80px;left:40px;font-size:15px;font-family:"¿¬Ìå";}
#photo1{position:absolute;top:10px;left:40px;}
#introduction{position:absolute;top:350px;left:40px;font-size:20px;}
#photo2{position:absolute;top:18px;left:680px;height:100%;width:820px;}
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;background-color: orange;}
a:active{text-decoration: none;}
.back{position:absolute;top:660px;left:800px;}