#temp1{width:100%;height:660px;}
#temp2{position:absolute;top:80px;width:1000px;}
#temp2 p{font-size:20;color:brown;}
#join{font-size:22px;color:black;font-weight:bold;text-decoration:none;position: absolute;top:400px;left:880px;}
a:hover{background-color: orange;}