#image{height:660px;position:absolute;top:40px;left:40px;}
    #label{position:absolute;top:40px;left:429px;width:1080px;background-color:black;}
    #a1{position:absolute;top:240px;left:210px;}
    #a2{position:absolute;top:300px;left:188px;}
    #a3{position:absolute;top:360px;left:188px;}
    #a4{position:absolute;top:420px;left:210px;}
    #p1{color:white;font-size:30px;}
    #text{width:800px;height:400px;font-size:20px;}
	.button{cursor: pointer;}
    a:hover{text-decoration: none;font-size:25px;color:white;font-family:Georgia, serif;background-color: orange;}
    a:link{text-decoration: none;font-size:25px;color:white;font-family:Georgia, serif;}
    a:visited{text-decoration: none;font-size:25px;color:white;font-family:Georgia, serif;}
    a:active{text-decoration: none;font-size:25px;color:white;font-family:Georgia, serif;}