#introduction1{font-size:20px;position: absolute;top:585px;left:120px}
        #cyber{box-shadow:8px 8px 8px 8px #808080;}
        #para{position: absolute;top:620px;left:48px;font-size:20px;}
        #gerott{position: absolute;top:135px;left:350px;width:400px;box-shadow:8px 8px 8px 8px #808080;}
        #labelAll{position: absolute;top:70px;left:770px;width:600px;border:10px double black;height:500px;}
        #labelAll caption{font-size:20px;}
        .join{text-decoration:none;}